<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Starts at:</b>
  <%= date_formate(@event.starts_at) %>
</p>

<p>
  <b>Ends at:</b>
  <%= date_formate(@event.ends_at) %>
</p>

<p>

  <b>Doctor:</b>
  <%= @event.get_user_name(@event.user_id) %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%#= link_to 'Edit', edit_event_path(@event) %> 
<%= link_to 'Back', events_path %>
